<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Репозиторий чтения из csv-файла -->
    <bean id="quizRepositoryImpl" class="org.tonkushin.otushw.repository.QuizRepositoryImpl">
        <constructor-arg value="questions.csv" type="java.lang.String"/>
        <constructor-arg type="java.lang.String[]">
            <array>
                <value>question</value>
                <value>answer1</value>
                <value>answer2</value>
                <value>answer3</value>
                <value>correctAnswerNo</value>
            </array>
        </constructor-arg>
    </bean>
    <!--Сервис с логикой-->
    <bean id="quizService" class="org.tonkushin.otushw.service.QuizServiceImpl">
        <constructor-arg ref="quizRepositoryImpl"/>
    </bean>
    <!--Контроллер для взаимодействия с пользователем-->
    <bean id="quizControllerImp" class="org.tonkushin.otushw.controller.QuizControllerImp">
        <constructor-arg name="service" ref="quizService"/>
    </bean>
</beans>
